*{
    font-family: 'Roboto', arial; 
}

.header-container{
    padding: 10px 150px 100px 200px;
    background-color: #1F2937;
    text-decoration: none;
}

.navbar{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}   

.link{
    font-size: 18px;
    color: #e5e7eb;
    padding-left: 30px;
    text-decoration: none;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-text h1{
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}

.container-text p{
    margin-top: -30px;
    padding-right: 40px;
    font-size: 18px;
    color: #e5e7eb;
}

.btn{
    background-color: #3882f6;
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    display: inline-block;
    font-size: 20px;
    margin-top: 10px;
    border-radius: 10px;
    outline: none;

    &:hover{
     background-color: #3881f654;
    }
}

.container-flex{
    display: flex;
    justify-content: center;
    background-color: #565b61;
    border:  5px;
    flex-direction: column;
    height: 200px;
    padding: 20px;
    width: 600px;
    color: white;
    text-align: center;
}

.section2{
    padding: 10px auto 100px auto;
}

.section2 h1{
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.container2 {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.item {
    text-align: center;
    color: #1F2937
}

.box {
    width: 150px;
    height: 150px;
    background-color: #ffffff;
    border: 4px solid #3882f6;
    border-radius: 15px;
}

.section3 {

    padding: 100px 0px 100px 0px;
    background-color: #e5e7eb;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text {
    width: 800px;
    font-style: italic;
    font-size: 36px;
}
.signature {
    padding-right: 200px;
    align-self: flex-end;
    font-size: 25px;
}

html {
    scroll-behavior: smooth;
}

.section4 {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    display: grid;
    align-items: center;
    background-color: #3882f6;
    border-radius: 20px;
    grid-template-columns: 3fr 1fr;
}

.text2 {
    margin-left: 20px;
    color: #f9faf8;
    font-size: 24px;
}

.section4 button {
    background-color: #3882f6;
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    display: inline-block;
    font-size: 20px;
    margin-top: 10px;
    border-radius: 10px;
    
    &:hover{
     background-color: #0555f5;
    }
}

footer {
    padding: 20px;
    color: #e5e7eb;
    font-size: 18px;
    text-align: center;
    background-color: #1f2937;
}

body {
    margin: 0;
    padding: 0;
}
