body{
    max-width: 600px;
    margin: auto;
    color: #222122;
    font-family: Arial;
    font-size: 18px;
    padding: 0.5rem;
    background-color: #914444ce;
}

h1,h2{
    background-color: #993939;
    padding: 10px;
    color: #000;
    font-family: Cambria;
    font-size: 30px;
    border-radius: 15px;
    text-align: center;
}

h3{
    color: #000;
    font-size: 25px;
    text-align: center;
    font-family: 'Times New Roman';
}

div{
    text-align: center;
}

img{
    width: 50%;
    height: 50%;
    border-radius: 15px;
}

ul, ol{
    line-height: 45px;
}