body{
    background-color: #e67878;
}
h1{
    font-family: 'Times New Roman';
    font-size: 80px;
    text-align: center;
    color: #000;
    margin: 0px;
    margin-top: 50px;
}

a{
    text-align: center;
    text-decoration: none;
    margin-left: 40px;
}

.container{
    margin: 50px 0 0 200px;
    width: 60%;
    height: 300px;
    display: flex;
    justify-content: center;
}
.container img{
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.6);
    transition: all ease-in-out 0.5s;
}
.container img:hover{
    width: 70%;
}